.subdomain{
    background-color:  rgb(23 23 24);
    color: white;
    cursor: pointer;
}
.subdomain:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.normal-tab{
    border: 3px solid white;
    margin: 2px 0px;
    margin-right: 3px;
    background-color: rgb(25 135 84);
}
.normal-tab:hover{
    border: 3px solid white;
    margin: 2px 0px;
    margin-right: 3px;
    color: white;
    background-color: rgb(102, 219, 164);
}
.selected-tab{
    border: 3px solid white;
    margin: 2px 0px;
    margin-right: 3px;
    color: rgb(25 135 84);
    background-color: white;
}
.selected-tab:hover{
    border: 3px solid white;
    margin: 2px 0px;
    margin-right: 3px;
    color: rgb(25 135 84);
    background-color: white;
}
.bgc{
    background-color: rgb(23, 23, 24);
}
.textc{
    color: rgb(242, 239, 239);
}

.tab{
    cursor: pointer;
    box-shadow: inset 0 0 3px hsl(0, 4%, 62%);
}

.delete_tab:hover{
    padding: 2%;
    background-color: rgb(142, 183, 220);
}

.delete_tab:active{
    padding: 2%;
    background-color: rgb(226, 13, 52);
}

.new_tab{
    flex: 0 0 auto;
    /* Style for the div element */
}

.c-rounded{
    border-radius: 1rem;
}

.btns:hover{
    background-color: rgb(66, 203, 139);
}

.btns-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#add_tab_btn{
    background-color: #198754;
    color: white;
    border: 3px solid white;  
}
#add_tab_btn:hover{
    color: #198754;
    background: white;   
}

/* realted to sections and mycontianer */
.mycontainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sections{
    display: flex;
    flex: 1;
    overflow: hidden;
}

.section{
    flex: 1;
    overflow: auto;
    margin-right: 3px;
}

.section-margin{
    margin-right: 3px;
}

.use-scrollbar{
    overflow: auto;
}

#tabs_area::-webkit-scrollbar{
    height: 2px;
}

#tabs_area::-webkit-scrollbar-thumb{
    color: rgb(25 135 84);
}

.tool-tab{
    width: 20%;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}

.tool-tab:hover{
    background-color: white;
    color: black;
    font:  0.8rem;
}

.sd-cb{  /* subdomains checkbox */
    transform: scale(1.5);
    margin-right: 10px;
}

.sd-cb:checked{ /* subdomains checkbox when checked*/
    background-color: white;
    color: green;
}

.reachable{
    color:  rgb(25 135 84);
    font-weight: bold;
}

.not-reachable{
    color: rgb(171, 31, 31);
    font-weight: bold;
}

.tech-stack-subdomain{
    margin-left: 1%;
    background-color: white;
    color: green;
}

#tool_link{
    text-decoration: none;
}

.payload_scripts{
    font-size: 1.2rem;
}

hr{
    margin: 0;
}

.clipboard:hover{
    color: black;
    background-color: white;
}

.clipboard:active{
    color: white;
    background-color: rgb(25 135 84);
}
